stitch design/Categories.html
stitch design/index.html
stitch design/seo&local-search.html
stitch design/update_categories.py
stitch design/admin/admin-dashboard-1.html
stitch design/admin/edit-users.html
stitch design/admin/manager-hr.html
stitch design/admin/user-management.html
stitch design/courses/course-management.html
stitch design/courses/demo-course.html
stitch design/courses/quiz.html
stitch design/courses/video-player.html
stitch design/courses/admin-only/course-assignment-step-1.html
stitch design/courses/admin-only/course-assignment-step-2.html
stitch design/courses/admin-only/course-creation.html
stitch design/employee/emp-certification.html
stitch design/employee/emp-dashboard.html
stitch design/employee/emp-login.html
stitch design/learner/learner-dashboard.html
stitch design/login/login.html
stitch design/resources/Bugle nexus in depth .md
stitch design/resources/Bugle Nexus system design.md
stitch design/resources/EMS.md
stitch design/resources/LMS.md
stitch design/resources/page hierarchy.md
stitch design/sign-up/role-selection.html
stitch design/sign-up/employee/emp-sucess.html
stitch design/sign-up/employee/employee-form.html
stitch design/sign-up/learner/learner-form.html
stitch design/sign-up/learner/learner-sucess.html
